packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGcDCCBVigAwIBAgIRAPwvqyqFYBi27Uc9UcYgLNIwDQYJKoZIhvcNAQELBQAw
        gYsxCzAJBgNVBAYTAkVTMRYwFAYDVQQIEw1JbGxlcyBCYWxlYXJzMRAwDgYDVQQH
        EwdNYW5hY29yMScwJQYDVQQKEx5Tb2x1Y2lvbmVzIENvcnBvcmF0aXZhcyBJUCwg
        U0wxKTAnBgNVBAMTIERvbiBEb21pbmlvIC8gTXJEb21haW4gUlNBIERWIENBMB4X
        DTIzMTIwMjAwMDAwMFoXDTI0MTIyMDIzNTk1OVowGDEWMBQGA1UEAxMNZGFtb3Jh
        bmV0LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMVQuPb+1tYv
        Oja/bgztfXfFEiFyIAS8njW0dYNaTq3DOcm0CsbPtv4yykYn6E8Dp1RgMeYzbXTq
        HWrfN4xxl9iovxqX90yr9rSbqcxIoSPCE3fBfh+hxAgfum9gmA9THdiN8Hm7IKgA
        zpV1+/FTEW5foN1Mtx23yD/sH2trTTGNPECOddFoUXboZ3wn5FjugeplJ+LYye/c
        CmwTEyAnvgrSq3FHPBhjz7cIMzM/Phb0Z9jXymBEdFKCoMqyKsuy7Px+uPJEdb3n
        3feG3xh6WWnqN41N3NsyZbEIQmEpEBwIY3Ho8fp+TeNa/GpJemRhgSNlP08NofGl
        mpDoYbDJ2vECAwEAAaOCAz8wggM7MB8GA1UdIwQYMBaAFDoKjBx3WSnqFvaZP6MX
        s98pEZM6MB0GA1UdDgQWBBQgmFyzhgG92pLpntH2zgG6uiiPaDAOBgNVHQ8BAf8E
        BAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUH
        AwIwSwYDVR0gBEQwQjA2BgsrBgEEAbIxAQICOzAnMCUGCCsGAQUFBwIBFhlodHRw
        czovL2Nwcy51c2VydHJ1c3QuY29tMAgGBmeBDAECATBHBgNVHR8EQDA+MDygOqA4
        hjZodHRwOi8vY3JsLnVzZXJ0cnVzdC5jb20vRG9uRG9taW5pb01yRG9tYWluUlNB
        RFZDQS5jcmwweQYIKwYBBQUHAQEEbTBrMEIGCCsGAQUFBzAChjZodHRwOi8vY3J0
        LnVzZXJ0cnVzdC5jb20vRG9uRG9taW5pb01yRG9tYWluUlNBRFZDQS5jcnQwJQYI
        KwYBBQUHMAGGGWh0dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wKwYDVR0RBCQwIoIN
        ZGFtb3JhbmV0LmNvbYIRd3d3LmRhbW9yYW5ldC5jb20wggF8BgorBgEEAdZ5AgQC
        BIIBbASCAWgBZgB1AHb/iD8KtvuVUcJhzPWHujS0pM27KdxoQgqf5mdMWjp0AAAB
        jCtETgUAAAQDAEYwRAIgKzUK+ZJ/F0TvN9ojWaCgi5zKUiJ9mJDzjprhIRMBJ04C
        IDNyLfsdBJRxdclD3d3qvFL7+m8gnj0XcCsobjJhZjG0AHUAPxdLT9ciR1iUHWUc
        hL4NEu2QN38fhWrrwb8ohez4ZG4AAAGMK0ROgAAABAMARjBEAiAQG+ktd2aH6W20
        SIa5XGgaQoyVQyJ423ilgBtqlVz/mgIgFNEvFEKZQm8kodDPZva7UYDoU+xKfMn3
        Dd9D5rAomfoAdgDuzdBk1dsazsVct520zROiModGfLzs3sNRSFlGcR+1mwAAAYwr
        RE4zAAAEAwBHMEUCIQDArC7bXNYnVjrwT+yTQavPWtnRz2C86T/+gTqKzRxIHwIg
        RuWfgcHOB+6aloz1b+CFEJh0lJkEUkV29bSDBuSvxSUwDQYJKoZIhvcNAQELBQAD
        ggEBACgRhw2XuE6AFSVrMB2Ub7ROS9ufcAMZsciCIzluf4nJa9ezF0yH/JpA4xtc
        TECrFAdQ0UxKdQV0hbOFLPbMGFhgJ1J2kKe8rnYonm4dZ2oXuEe/WHZ1hLMrUMsu
        SOsfitTaF6lQYX4oqhnK/CKUrFMezEhiWWJqVNIBH33CZaqn2gx4dg8bYWfbfLwE
        bPIqbPDgFadgBIwy1Fc3MyzLKy1oKcLksIDtNf4dhCH1U07+xMOrw83BdL7tp6z3
        pArJv9WAU+d7xibcqCLXGVVTMSsnqynRUTBTVmOazPGXY7s9b4qjaY6AGAZBkOwG
        fKlQzCmr/AJkOA3ABTPSW3zNMvw=
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIGFzCCA/+gAwIBAgIRAP0Zx6ZI8jCFNBvJb8ngVsgwDQYJKoZIhvcNAQEMBQAw
        gYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5MRQwEgYDVQQHEwtK
        ZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBOZXR3b3JrMS4wLAYD
        VQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTE4
        MDIxNjAwMDAwMFoXDTI4MDIxNjIzNTk1OVowgYsxCzAJBgNVBAYTAkVTMRYwFAYD
        VQQIEw1JbGxlcyBCYWxlYXJzMRAwDgYDVQQHEwdNYW5hY29yMScwJQYDVQQKEx5T
        b2x1Y2lvbmVzIENvcnBvcmF0aXZhcyBJUCwgU0wxKTAnBgNVBAMTIERvbiBEb21p
        bmlvIC8gTXJEb21haW4gUlNBIERWIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
        MIIBCgKCAQEAkHd28rhMbD0D9amcKwVe8zK6RC0cfLw53pibu9eUwe7Z0O2V90GZ
        EWd295IR8l7uIqkujFEQZC52B9ZaWIbGir5/y66kMe7Yr6axNoIjqWE71F8DOT8A
        iXggwo3bF/f2IvclHggIPsySH400bxqjuqPnuCUtAQK9OvwPdepWR0D/ADAbkgec
        VoGpWZFBjyRSsd8dK0/IK4qjFlE/zB+nHIr4HQj38eShpOrkXI2SsINDE2fUVVpX
        D0w556yNTvexU4dYQQqIw4zhZjN+9lBXweBsr3trxQIvVPuZ79KW5diVPqfCE1n7
        hOqFhOqk4VFrztBARtxiU6fZ1Sczt0DwUQIDAQABo4IBdTCCAXEwHwYDVR0jBBgw
        FoAUU3m/WqorSs9UgOHYm8Cd8rIDZsswHQYDVR0OBBYEFDoKjBx3WSnqFvaZP6MX
        s98pEZM6MA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8ECDAGAQH/AgEAMB0GA1Ud
        JQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAiBgNVHSAEGzAZMA0GCysGAQQBsjEB
        AgI7MAgGBmeBDAECATBQBgNVHR8ESTBHMEWgQ6BBhj9odHRwOi8vY3JsLnVzZXJ0
        cnVzdC5jb20vVVNFUlRydXN0UlNBQ2VydGlmaWNhdGlvbkF1dGhvcml0eS5jcmww
        dgYIKwYBBQUHAQEEajBoMD8GCCsGAQUFBzAChjNodHRwOi8vY3J0LnVzZXJ0cnVz
        dC5jb20vVVNFUlRydXN0UlNBQWRkVHJ1c3RDQS5jcnQwJQYIKwYBBQUHMAGGGWh0
        dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wDQYJKoZIhvcNAQEMBQADggIBAHho1J2s
        RsWr4DFlKERthYckzxE1m/HDlRIqiE8h+KnG8142rAT7hnjiqL39NkhrHF5swB3/
        BPw4TV67GAfCu4BUJH2bYAWSFaLz+hXjn/vVMnpdLlwFi5/Fg5qb9cjCXV36xW+Y
        uaehUdZg1DLasj28hoIdqD+jTE9seUQHZjU+HDCVKev0lcFzztcmGBIUSwZ4XF1R
        Ke2bPYw+QgFXWIEGQ8dBaBDGvunaP4U8P76YXvdjOhbMLQ0zHJH/5A8qM7wF3TRW
        Nm36+vrXuGCarsbO9fPj4s0rbhGQ7mGYrebIyLVIOy+Dnk7qWfxRbQAkFISik2hs
        1OhBSLWIkKDkwrFn8lv0rdTrux9NLqE4i9cbMnQsiuqDdumR/YNX/4fRVVRLgyvw
        Byz1t4vjkzfXkvpIzUTEKiHzyFFRB71uovzK7T7NMKsk/ytZi/Sv5PzUzhjERv+U
        I708qx1HwOvva5hcnft8oQDybHbO4Fz59pg29HMvw36YWJ8G9Elpc+SORCmgp1kd
        bVuKHo8JYvd9lfJ6BvVINkFfOR9duWjpFMicAmPwT+xzsg3T63JBSvQPqHniIrIG
        YMbj8AOzEJJHRDwZkyvOGx+wKXynIPn0WvB87SnDpJoj+G4xRDmuPnAnC4ZwB00W
        kfxEERJIT5jo3mcnz6GLAQGM4IMo879uBZ1+
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIFgTCCBGmgAwIBAgIQOXJEOvkit1HX02wQ3TE1lTANBgkqhkiG9w0BAQwFADB7
        MQswCQYDVQQGEwJHQjEbMBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYD
        VQQHDAdTYWxmb3JkMRowGAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UE
        AwwYQUFBIENlcnRpZmljYXRlIFNlcnZpY2VzMB4XDTE5MDMxMjAwMDAwMFoXDTI4
        MTIzMTIzNTk1OVowgYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5
        MRQwEgYDVQQHEwtKZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBO
        ZXR3b3JrMS4wLAYDVQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0
        aG9yaXR5MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgBJlFzYOw9sI
        s9CsVw127c0n00ytUINh4qogTQktZAnczomfzD2p7PbPwdzx07HWezcoEStH2jnG
        vDoZtF+mvX2do2NCtnbyqTsrkfjib9DsFiCQCT7i6HTJGLSR1GJk23+jBvGIGGqQ
        Ijy8/hPwhxR79uQfjtTkUcYRZ0YIUcuGFFQ/vDP+fmyc/xadGL1RjjWmp2bIcmfb
        IWax1Jt4A8BQOujM8Ny8nkz+rwWWNR9XWrf/zvk9tyy29lTdyOcSOk2uTIq3XJq0
        tyA9yn8iNK5+O2hmAUTnAU5GU5szYPeUvlM3kHND8zLDU+/bqv50TmnHa4xgk97E
        xwzf4TKuzJM7UXiVZ4vuPVb+DNBpDxsP8yUmazNt925H+nND5X4OpWaxKXwyhGNV
        icQNwZNUMBkTrNN9N6frXTpsNVzbQdcS2qlJC9/YgIoJk2KOtWbPJYjNhLixP6Q5
        D9kCnusSTJV882sFqV4Wg8y4Z+LoE53MW4LTTLPtW//e5XOsIzstAL81VXQJSdhJ
        WBp/kjbmUZIO8yZ9HE0XvMnsQybQv0FfQKlERPSZ51eHnlAfV1SoPv10Yy+xUGUJ
        5lhCLkMaTLTwJUdZ+gQek9QmRkpQgbLevni3/GcV4clXhB4PY9bpYrrWX1Uu6lzG
        KAgEJTm4Diup8kyXHAc/DVL17e8vgg8CAwEAAaOB8jCB7zAfBgNVHSMEGDAWgBSg
        EQojPpbxB+zirynvgqV/0DCktDAdBgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rID
        ZsswDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wEQYDVR0gBAowCDAG
        BgRVHSAAMEMGA1UdHwQ8MDowOKA2oDSGMmh0dHA6Ly9jcmwuY29tb2RvY2EuY29t
        L0FBQUNlcnRpZmljYXRlU2VydmljZXMuY3JsMDQGCCsGAQUFBwEBBCgwJjAkBggr
        BgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2RvY2EuY29tMA0GCSqGSIb3DQEBDAUA
        A4IBAQAYh1HcdCE9nIrgJ7cz0C7M7PDmy14R3iJvm3WOnnL+5Nb+qh+cli3vA0p+
        rvSNb3I8QzvAP+u431yqqcau8vzY7qN7Q/aGNnwU4M309z/+3ri0ivCRlv79Q2R+
        /czSAaF9ffgZGclCKxO/WIu6pKJmBHaIkU4MiRTOok3JMrO66BQavHHxW/BBC5gA
        CiIDEOUMsfnNkjcZ7Tvx5Dq2+UUTJnWvu6rvP3t3O9LEApE9GQDTF1w52z97GA1F
        zZOFli9d31kWTz9RvdVFGD/tSo7oBmF0Ixa1DVBzJ0RHfxBdiSprhTEUxOipakyA
        vGp4z7h/jnZymQyd/teRCBaho1+V
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIEMjCCAxqgAwIBAgIBATANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJHQjEb
        MBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYDVQQHDAdTYWxmb3JkMRow
        GAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UEAwwYQUFBIENlcnRpZmlj
        YXRlIFNlcnZpY2VzMB4XDTA0MDEwMTAwMDAwMFoXDTI4MTIzMTIzNTk1OVowezEL
        MAkGA1UEBhMCR0IxGzAZBgNVBAgMEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UE
        BwwHU2FsZm9yZDEaMBgGA1UECgwRQ29tb2RvIENBIExpbWl0ZWQxITAfBgNVBAMM
        GEFBQSBDZXJ0aWZpY2F0ZSBTZXJ2aWNlczCCASIwDQYJKoZIhvcNAQEBBQADggEP
        ADCCAQoCggEBAL5AnfRu4ep2hxxNRUSOvkbIgwadwSr+GB+O5AL686tdUIoWMQua
        BtDFcCLNSS1UY8y2bmhGC1Pqy0wkwLxyTurxFa70VJoSCsN6sjNg4tqJVfMiWPPe
        3M/vg4aijJRPn2jymJBGhCfHdr/jzDUsi14HZGWCwEiwqJH5YZ92IFCokcdmtet4
        YgNW8IoaE+oxox6gmf049vYnMlhvB/VruPsUK6+3qszWY19zjNoFmag4qMsXeDZR
        rOme9Hg6jc8P2ULimAyrL58OAd7vn5lJ8S3frHRNG5i1R8XlKdH5kBjHYpy+g8cm
        ez6KJcfA3Z3mNWgQIJ2P2N7Sw4ScDV7oL8kCAwEAAaOBwDCBvTAdBgNVHQ4EFgQU
        oBEKIz6W8Qfs4q8p74Klf9AwpLQwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQF
        MAMBAf8wewYDVR0fBHQwcjA4oDagNIYyaHR0cDovL2NybC5jb21vZG9jYS5jb20v
        QUFBQ2VydGlmaWNhdGVTZXJ2aWNlcy5jcmwwNqA0oDKGMGh0dHA6Ly9jcmwuY29t
        b2RvLm5ldC9BQUFDZXJ0aWZpY2F0ZVNlcnZpY2VzLmNybDANBgkqhkiG9w0BAQUF
        AAOCAQEACFb8AvCb6P+k+tZ7xkSAzk/ExfYAWMymtrwUSWgEdujm7l3sAg9g1o1Q
        GE8mTgHj5rCl7r+8dFRBv/38ErjHT1r0iWAFf2C3BUrz9vHCv8S5dIa2LX1rzNLz
        Rt0vxuBqw8M0Ayx9lt1awg6nCpnBBYurDC/zXDrPbDdVCYfeU0BsWO/8tqtlbgT2
        G9w84FoVxp7Z8VlIMCFlA2zs6SFz7JsDoeA3raAVGI/6ugLOpyypEBMs1OUIJqsi
        l2D4kF501KKaU73yqWjgom7C12yxow+ev+to51byrvLjKzg6CYG1a4XXvi3tPxq3
        smPi9WIsgtRqAEFQ8TmDn5XpNpaYbg==
        -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDFULj2/tbWLzo2
        v24M7X13xRIhciAEvJ41tHWDWk6twznJtArGz7b+MspGJ+hPA6dUYDHmM2106h1q
        3zeMcZfYqL8al/dMq/a0m6nMSKEjwhN3wX4focQIH7pvYJgPUx3YjfB5uyCoAM6V
        dfvxUxFuX6DdTLcdt8g/7B9ra00xjTxAjnXRaFF26Gd8J+RY7oHqZSfi2Mnv3Aps
        ExMgJ74K0qtxRzwYY8+3CDMzPz4W9GfY18pgRHRSgqDKsirLsuz8frjyRHW95933
        ht8Yellp6jeNTdzbMmWxCEJhKRAcCGNx6PH6fk3jWvxqSXpkYYEjZT9PDaHxpZqQ
        6GGwydrxAgMBAAECggEAFxJEPmU32510Ehi6Fnric9GwOAbvJX6khSUPpIc3seuk
        4yfRJsP84qYvrppV+H813pDM5NzYjJYfUHK/PQW/Oo8ooURpnyZwV1foN8G6TcMQ
        oa0XQT2Z/VUwaHuD7C7My5h1KNavj9VgUmuURPhwjlZSKe4hbzEhEhBa8CWAxi1H
        nmxTCisX+0CQOSW2z+EKQzQg3jyChRRVW9vceo5Ode2lyHv6XdwsebQo3tW9ytny
        LgIsLTqgvXdNICtQ6aPODd3qEzEDyheVhKnxaoYDfDaixKMF0RjmCwYx/3QbQ4Zb
        wb/yXod24dsugYvSQwgqAk+Gs7Yl/4gBlg+JM4UtHQKBgQD7QSNf9h7eBbgS0CP0
        2g7+Hw41H1tvH16dvfuO+kHHb7BDuIe/86vBZERwAi5xdQ5nuBx3j4ffTIRmyMT5
        kppB5YIWboDykMqd/GIGnpwlUzUrJuKirkPtA3v+VkNmEy19M78It+nlgjXGgiJe
        ujEV7iX5P4CpAoy/2NY6pJhoNwKBgQDJCsdXQGgDe5f6SBAY3g4uGLKmHXnsBCR6
        zg4moIspaR69cLrYp1LJirNfq+rLV9feQSABwYJry7Ir/oEVZW/wOG24bSTcoynB
        3DoOeuOmCInaewE19lH0HtL0cdrZhMZ6ZoeUymLIv6+SSX2bHlT/llgg1kurvY3P
        MPfAhNByFwKBgE44ej3ezr9KQoNA32DUHkTJAFBTgdC3kGpFgjKCAMaJI/QBV+nP
        f5JGl/PTCghya9iofdxPB/rhxHqHWKNmG7YWMIixQF3D7ACBWTc8W9pW7D+R7I6+
        +BCqvAhzbKozoD7RRFD/iMbV4c36J58cEjoEmTfeqDx1ucHkTNWW9ofDAoGAXW4l
        7/WdoSi6G3WMDZJ88o1F0Q9Xzwipz2ydhPQNWGRjBdUy8GbqgYF1FRw3VOLxDngj
        oM1GiEQ0/F8drEzk9bWzwAbxH5ywVki7rmkMDOhg8GlDyck8kwAUN8gF1hrvhojJ
        r6tSt0rmFE0VE5bIF7POJwyQRDMmiUiPiyfuG2cCgYAFFSBTSDHC3vWkCC0CJrmX
        TUuv3bhKjXIk9FuPLDs01UPu9BK3+6W2kKrYenYPyMlXWzPWweGDC+UwFzUpJvR+
        BOuXQSTKR2WxbPwajaq2j1BhGr65JutqF3S0VC0Wl+9AbHjEceyYvEt6whJNAymM
        S9p+SDMCrxEbA9msEooXaA==
        -----END PRIVATE KEY-----